/*General Styling*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  background-color: whitesmoke;
  font-family: "Poppins" sans-serif;
}

h1 {
  color: #0018A4;
  font-size: 64px;
  padding: 5px;

}

h2 {
  font-size: 22px;
  padding: 5px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
}

p {
  font-size: 16px;
  margin-top: 4px;
  padding: 5px;
  margin: 0;
}

hr {
  border: 1px solid #E9E9E9;
  width: 100%;
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10px;
}

.filter-button {
  border: none;
  background: #CCFFE2;
  color: #0018A4;
  border-radius: 50px;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  min-width: fit-content;
  height: 40px;

}

.sort-button {
  border: none;
  background: #FFECEA;
  color: #0018A4;
  border-radius: 50px;
  font-size: 18px;
  padding: 8px 16px;
  gap: 10px;
  cursor: pointer;
  width: 127px;
  height: 40px;

}

.filter-button:hover,
.sort-button:hover {
  border: 2px solid #0018A4;
}

.filter-button:active {
  background: #0018A4;
  color: white;
}

.sort-button:active {
  background: #FF6589;
  color: white;
}


.parent2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

}

.option-item,
.recipe-item {
  border: 1px solid grey;
  border-radius: 12px;
  width: 100%;
  padding: 2px 2px 5px 2px;
}

.recipe-item:hover {
  border: 2px solid #0018A4;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
}

.recipe-item img {
  max-width: 100%;
  border-radius: 12px;
}

.recipe-item img:hover {
  border: 1px solid #899CCC;
}

.ingredient-list {
  list-style: none;
  padding: 5px;
  margin: 0;
}


/*Media Queries*/

@media (min-width: 320px) {

  .parent,
  .parent2 {
    margin: 0 auto;
  }

  .filter-button,
  .sort-button {
    padding: 4px 6px;
  }

  .option-item {
    min-height: 400px;
  }

}

@media (min-width: 668px) and (max-width:1024px) {

  h1 {
    margin-left: 28px;
  }

  .parent {
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
  }

  .parent2 {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 90%;
    margin: 0 auto
  }

  .filter-button,
  .sort-button {
    margin-bottom: 8px;
  }

}

@media (min-width: 1025px) {

  .parent,
  .parent2 {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .option-item,
  .recipe-item {
    padding: 16px 16px 24px 16px;
    width: 300px;
  }

}